{% extends 'user/user_master.html'%}
{% load static %}
{% block content %}

<div class="container-fluid " style="padding-top: 3em;">
    <div class="row">
  <div class="left col-md-5 ">

      <div>
        <i class="fa-solid fa-user fa-5x"></i>
      </div>

      <div class="second">
          <h2>Name</h2>
          <h5>Username</h5>
          <p>Lorem ipsum dol sapientm explicabo aliquam, minima reprehenderit impedit dolores minus quam debitis voluptates nostrum officiis harum enim nam? Hic.</p>
      </div>

      <div>


          <button type="button" class="btn btn-dark but">edit</button>
          
      </div>
  </div>


  <div class=" right col-md-7" >
      <!-- <div class="nav bg-info">
          <button type="button" class=" but">Profile</button>
          <button type="button" class=" but">Profile</button>
          <button type="button" class=" but">Profile</button>

      </div> -->

      <h3 class="h Normal weight text">Basic Info</h3>

      <form action="" method="post">
        
        <div class="col-md-8">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputname">
        </div>
        <div class="col-8">
           <label for="inputAddress" class="form-label">Gender</label>
           <table class="table col-md-2  table-borderless ">
        <th>   <input type="radio" class="form-check" id="inputAddress" placeholder="Address"></th>
        <th>  <label for="inputAddress" class="form-label">Male</label></th>
        <th> <input type="radio" class="form-check" id="inputAddress" placeholder="Address"></th>
        <th>   <label for="inputAddress" class="form-label">female</label></th>
           </table>
         </div>
         <div class="col-8">
           <label for="inputAddress" class="form-label">Date Of BIrth</label>
           <input type="date" class="form-control" id="inputemail" placeholder="Username">
         </div>
         
        <div class="col-8">
          <label for="inputAddress" class="form-label">username</label>
          <input type="text" class="form-control" id="inputemail" placeholder="Username">
        </div>
        <div class="col-8">
           <label for="inputAddress" class="form-label">Phone No</label>
           <input type="number" class="form-control" id="inputAddress" placeholder="Phone No">
         </div>
        <div class="col-8">
          <label for="inputAddress2" class="form-label">Address </label><br>
    <textarea name="" id="" cols="62" rows="5"></textarea>
        </div>
        <div class="col-8">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <br>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>Kerala
                <OPTION>maharastra
                    ...</option>
                    <option>Goa</option>
                    <option>Karnataka</option>
                    <option>West Bengal</option>
          </select>
        </div>
        
        <div class="col-md-12 mt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
       </form>
  </div>
</div>
</div>
{% endblock %}
