{% extends 'user/user_master.html'%}
{% load static %}
{% block content %}
<div class="cover">
    <h1>My Orders</h1>

    <div class="out">
        <div class="container">
            <div class="row in">

                <div class="pic">
                    <img src="{% static 'images/veg_salad card.jpg' %}" alt="no img">
                </div>

                <div class="two">
                    <h5>item1</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>

                </div>

                <div class="three">
                    <h5>Lorem ipsum dolor sit.</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, doloremque. Obcaecati amet quidem similique!</p>
                </div>

                <div class="four">
                    <h5>Others</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, doloremque. Obcaecati amet quidem similique!</p>

                </div>
            
            </div>


            <div class="row in2">
                <button class="but4">Track Order</button>
                <button class="but4">Cancel Order</button>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
    </div>






    <div class="out">
        <div class="container">
            <div class="row in">

                <div class="pic">
                    <img src="/Amoled.jpeg" alt="no img">
                </div>

                <div class="two">
                    <h5>Flower </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>

                </div>

                <div class="three">
                    <h5>Q details</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, doloremque. Obcaecati amet quidem similique!</p>
                </div>

                <div class="four">
                    <h5>Others</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, doloremque. Obcaecati amet quidem similique!</p>

                </div>
            
            </div>


            <div class="row in2">
                <button class="but2">Track Order</button>
            </div>
        </div>
    </div>

</div>




<!-- <div class="secton2">
    <div class="container sec2">
       <div class="d2">
           <input type="text" placeholder="Enter promo code">
           <button class="but2">Apply</button>
       </div>
    </div>
</div> -->