{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0c7adfd7bb.js" crossorigin="anonymous"></script>
</head>
<style>
  .l1{
    display: inline-block;
    margin-top: 2em;
    
}
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{% static 'images/bookstorelog1.png' %}" class="mr-2" style="height: 85px;width: 239px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 font-weight-bold">
            
            
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-warning" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false" style="margin-right: 2em; border-radius: 16px;">
                ADMIN
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" class="btn btn-secondary">Profile</a>
                <a class="dropdown-item" href="#" class="btn btn-danger" >Log out</a>
                
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-info" style="background-color:#fbfcff ;height: 500px;margin-top: -2em;">
         <div class="row ">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="selogin" style="margin-top:8em" >
             <div class="modal-dialog">
               <div class="modal-content" style= "margin-left: 1em;"> 
                 <div class="header ">
                   <h5 class="modal-title text-center text-dark" id="exampleModalLabel" style="font-family: 'Courier New', Courier, monospace;font-size:28px; font-weight: bold;">Admin Log In</h5>
                  
                 </div>
                 <div class="body  ">
                   <form action="">
                     <div class="form-group ">
                     
               <input type="email" placeholder="Email address"   class="form-control-lg w-100" id="exampleFormControlInput1">
                     </div>
                     <div class="form-group ">
                       
                       <input type="password" placeholder="password"  class="form-control-lg w-100 " id="exampleFormControlInput1">
                     </div>
                    
                       <div class="form-group ">
                      <button type="button" class="btn btn-success btn-lg btn-block"><a href="{% url 'dash' %}" class="text-dark"> Log In</a> </button>
                       </div>
                      
                   </form>
                
               
               </div>
             </div>
           </div>
            </div>
            <div class="col-md-3"></div>
         </div>
             
      </div>
      <div class="container-fluid  "  style="background-color:#f5f5f5; height: 100px;">
        <div class="row">
      
      <div class="col-md-12 text-center mt-3" >
        <p>copyrigts @ online bookstore 2022. All rights are reserved</p>
      </div>
    
        </div>
      </div>
    
          
</body>
</html>

