{% extends 'admin/master.html' %}
{% load static %}
{% block content %}



        <div class="col-md-10 " style="background-color:  #fbfcff;margin-left: 233px;height: 435px;">
        <h3>DASHBOARD</h3>  
            <div class="row mt-3">
            <div class="col-md-3 ">
              <div class="card ">
                  <i class="fas fa-user-circle fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 4em;
                margin-top: -4em;
            ;">
                 <h3>1000</h3>
                 <h4>USERS</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="card ">
                  <i<i class="fa-solid fa-book-open fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 2em;
                margin-top: -65px;
            ;">
                 <h3>1000</h3>
                 <h4>BOOK</h4>
              </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="card ">
                  <i class="fa-solid fa-business-time fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 4em;
                margin-top: -4em;
            ;">
                 <h3>1000</h3>
                 <h4>SELLERS</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="card ">
                  <i class="fa-solid fa-cart-shopping fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 4em;
                margin-top: -4em;
            ;">
                 <h3>1000</h3>
                 <h4>ORDERS</h4>
                </div>
              </div>
            </div>
          
            </div>

        </div>



{% endblock %}

