{% extends 'admin/master.html' %}
{% load static %}
{% block content %}



        <div class="col-md-10 " style="background-color:  #fbfcff;margin-left: 233px;height: 435px;">
        <h3>DASHBOARD</h3>  
            <div class="row mt-3">
            <div class="col-md-3 ">
              <div class="card ">
                  <i class="fas fa-user-circle fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 4em;
                margin-top: -4em;
            ;">
                 <h3>1000</h3>
                 <h4>USERS</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="card ">
                  <i<i class="fa-solid fa-book-open fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 2em;
                margin-top: -65px;
            ;">
                 <h3>1000</h3>
                 <h4>BOOK</h4>
              </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="card ">
                  <i class="fa-solid fa-business-time fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 4em;
                margin-top: -4em;
            ;">
                 <h3>1000</h3>
                 <h4>SELLERS</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="card ">
                  <i class="fa-solid fa-cart-shopping fa-3x" style="margin-top:1em;"></i>
                <div class="card-body" style="margin-left: 4em;
                margin-top: -4em;
            ;">
                 <h3>1000</h3>
                 <h4>ORDERS</h4>
                </div>
              </div>
            </div>
          
            

        
        
        <div class="col-md-12" style="background-color: #fbfcff">
          <div class="container mt-4" style="border: 1px solid black;">
              <nav class="navbar navbar-expand-lg navbar-light ">
           <h3>ORDER LIST</h3>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 font-weight-bold">
                      
                      
                     
                      <li class="nav-item dropdown">
                        <a class="btn btn-warning" href="#" id="navbarDropdownMenuLink" role="button"  style="margin-right: -1em; border-radius: 16px;">
                          +Add 
                        </a>
                       
                      </li>
                    </ul>
                  </div> -->
                </nav>
                <hr style="background-color: black;">
                <div class="row">
                    <div class="col-md-4 mt-2 ">
                        <label for="" >show</label>
                        <select name="" id="">
                          <option value="">5</option>
                            <option value="">10</option>
                            <option value="">25</option>
                            <option value="">50</option>
                            <option value="">100</option>
                        </select>
                        <label for="">entries</label>
                    </div>
                   <div class="col-md-5"></div>
                   <div class="col-md-3 ">
                       <label for="">search</label>
                       <input type="text" class="">
                       
                   </div>
                   
                </div>
      
               <div class="row">
                   <div class="col-md-12">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">ID</th>
                      <th scope="col">Book </th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">payment-info</th>
                      <th scope="col">seller name</th>
                      <th scope="col">Total price</th>
                      <th scope="col">status</th>
                   
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>fiction</td>
      
                      <td>missing 400 days</td>
                      <td>fiction</td>
                      <td>chetan bhagath</td>
      
                      <td>vishnu</td>
                      <td>700</td>
                      <td><a href="" class="btn btn-success">completed</a> </td>

                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>fiction</td>
      
                      <td>missing 400 days</td>
                      <td>fiction</td>
                      <td>chetan bhagath</td>
                      <td>Azmar</td>
      
                      <td>700</td>
                      <td><a href="" class="btn btn-success">completed</a> </td>
                     
                     
                     
                      
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      
                      <td>fiction</td>
      
                      <td>missing 400 days</td>
                      <td>fiction</td>
                      <td>chetan bhagath</td>
                      <td>vishnu</td>
                      <td>400</td>
                      <td><a href="" class="btn btn-warning">progress</a> </td>
            
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>fiction</td>
      
                      <td>missing 400 days</td>
                      <td>fiction</td>
                      <td>chetan bhagath</td>
                      <td>vishnu</td>
                      <td>400</td>
                      <td><a href="" class="btn btn-success">completed</a> </td>
        
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>fiction</td>
      
                      <td>missing 400 days</td>
                      <td>fiction</td>
                      <td>chetan bhagath</td>
                      <td>vishnu</td>
                      <td>400</td>
                      <td><a href="" class="btn btn-success">completed</a> </td>
                     
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
                <div class="row">
                  <div class="col-md-3 mt-2">
                    <h6>showing 1 to 5 entries</h6>
                  </div>
                  <div class="col-md-7"></div>
                  <div class="col-md-2 mt-1">
                  <table class="table-bordered " width="100%">
                    <th><a href="" class="text-dark"> Previous</a></th>
                    <th><a href="">1</a></th>
                    <th><a href="" class="text-dark"> Next</a></th>
                  </table> 
      
                  </div>
                </div>
          </div>
        </div>
        </div>
        </div>
      
      {% endblock %}

