{% extends 'admin/master.html' %}
{% load static %}
{% block content %}

<div class="col-md-10 " style="margin-left: 227px;background-color: #fbfcff;height: 440px;">
    <div class="container mt-4 " style="border: 1px solid black;">
        
    

          <div class=" text-left">
            <h2>Add Category</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1">
                <form class="needs-validation" novalidate enctype="multipart/form-data" id="add_product" onload="resetSelection();">
                    <div class="mb-3">
                        <label for="title">Title</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="title" placeholder="Title of the book" required>
                            
                        </div>
                    </div>
                 
                    <div class="mb-3">
                        <label for="description">Description </label>
                        <div class="input-group">
                            <textarea class="form-control" id="description" required></textarea>
                            
                        </div>
                    </div>
                   
          
       
                       
                    
        
                    <div class="mb-3">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
                    </div>
                </form>
            </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}