{% extends 'seller/seller_master.html'%}
{% load static %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit product</h4>
                        <!-- <p class="card-description">Edit forms inline(click on the underline text to test below)</p> -->
                        <div class="template-demo">
                            <form id="editable-form" class="editable-form">
                                <!-- <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Simple text field</label>
                                    <div class="col-6 col-lg-8 d-flex align-items-center"> <a href="#" id="username" data-type="text" data-pk="1" class="editable editable-click" data-abc="true">awesome</a> </div>
                                </div> -->
                                <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Title</label>
                                    <div class="col-6 col-lg-8 d-flex align-items-center">
                                        <a href="#" id="title" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter the title" class="editable editable-click editable-empty" data-abc="true">
                                        MISSING 400 DAYS
                                    </a>
                                    </div>
                                </div>
                                <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Author</label>
                                    <div class="col-6 col-lg-8 d-flex align-items-center">
                                        <a href="#" id="description" data-type="textarea" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter the title" class="editable editable-click editable-empty" data-abc="true">
                                        chethan bhagath
                                    </a>
                                    </div>
                                </div>

                                <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Price</label>
                                    <div class="col-6 col-lg-8 d-flex align-items-center">
                                        <a href="#" id="price" data-type="number" data-placement="right" data-placeholder="Required" data-title="Enter your firstname" class="editable editable-click editable-empty" data-abc="true">
                                            460</a>
                                    </div>
                                </div>
                                <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Quantity</label>
                                    <div class="col-6 col-lg-8 d-flex align-items-center">
                                        <a href="#" id="quantity" data-type="number" data-placement="right" data-placeholder="Required" data-title="Enter your firstname" class="editable editable-click editable-empty" data-abc="true">
                                            1</a>
                                    </div>
                                </div>
                                <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Status</label>
                                    <div class="col-6 col-lg-8 d-flex align-items-center">
                                        <a href="#" id="status" data-type="select" data-placement="right" data-placeholder="Required" data-title="Enter your firstname" class="editable editable-click editable-empty" data-abc="true">
                                            active</a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-6 col-lg-4 d-flex align-items-center">
                                        <button type="button" class="btn btn-sm btn-success" style="align-items: right;" onclick="edit_product('{{product.id}}');">Save</button>
                                        <button class="btn btn-sm btn-danger" style="align-items: left;">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--x-editable ends-->
            </div>
        </div>
    </div>
</div>
{% endblock %}